<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kylehirschfelder.navegationdrawer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="blink"
        android:theme="@style/AppTheme1" >
        <activity
            android:name=".MainActivity"
            android:label="blink" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Form1"
            android:label="@string/title_activity_form1" >
        </activity>
        <activity
            android:name=".Form_1"
            android:label="@string/title_activity_form_1" >
        </activity>
        <activity
            android:name=".PageOne"
            android:label="@string/title_activity_page_one"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PageTwo"
            android:label="@string/title_activity_page_two"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".listViewDB"
            android:label="@string/title_activity_list_view_db" >
        </activity>
        <activity
            android:name=".medicine_inventory"
            android:label="@string/title_activity_medicine_inventory" >
        </activity>
    </application>

</manifest>
